
testActions/.vs/config/applicationhost.config
testActions/.vs/testActions/DesignTimeBuild/.dtbcache
testActions/.vs/testActions/v15/.suo
testActions/.vs/testActions/v15/Server/sqlite3/db.lock
testActions/.vs/testActions/v15/Server/sqlite3/storage.ide
testActions/.vs/testActions/v15/Server/sqlite3/storage.ide-shm
testActions/.vs/testActions/v15/Server/sqlite3/storage.ide-wal
testActions/testActions/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
testActions/testActions/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
testActions/testActions/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
testActions/testActions/obj/Debug/netcoreapp2.2/testActions.AssemblyInfo.cs
testActions/testActions/obj/Debug/netcoreapp2.2/testActions.AssemblyInfoInputs.cache
testActions/testActions/obj/Debug/netcoreapp2.2/testActions.assets.cache
testActions/testActions/obj/Debug/netcoreapp2.2/testActions.csproj.CoreCompileInputs.cache
testActions/testActions/obj/Debug/netcoreapp2.2/testActions.csproj.FileListAbsolute.txt
testActions/testActions/obj/Debug/netcoreapp2.2/testActions.csprojAssemblyReference.cache
testActions/testActions/obj/Debug/netcoreapp2.2/testActions.dll
testActions/testActions/obj/testActions.csproj.nuget.g.targets
testActions/testActions/obj/testActions.csproj.nuget.g.props
testActions/testActions/obj/testActions.csproj.nuget.cache
testActions/testActions/obj/project.assets.json
testActions/testActions/obj/Debug/netcoreapp2.2/testActions.RazorTargetAssemblyInfo.cache
testActions/testActions/obj/Debug/netcoreapp2.2/testActions.RazorAssemblyInfo.cs
testActions/testActions/obj/Debug/netcoreapp2.2/testActions.RazorAssemblyInfo.cache
testActions/testActions/obj/Debug/netcoreapp2.2/testActions.pdb
testActions/testActions/bin/Debug/netcoreapp2.2/testActions.deps.json
testActions/testActions/bin/Debug/netcoreapp2.2/testActions.dll
testActions/testActions/bin/Debug/netcoreapp2.2/testActions.pdb
testActions/testActions/bin/Debug/netcoreapp2.2/testActions.runtimeconfig.dev.json
testActions/testActions/bin/Debug/netcoreapp2.2/testActions.runtimeconfig.json
